*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
.container{
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #222224;
    box-shadow: 5px 5px 10px #222;
}
.top-menu-top{
    position: relative;
    background: #2D2D2D;
    border-bottom: 2px solid #3f3f3f;
}
.top-menu-sub{
    background: #2D2D2D;
    display: flex;
}
.screen{
    position: relative;
    background-color: #13171B;
    color: #B5C9DF;
    padding: .8rem;
    width: 20rem;
    height: 5rem;
    margin: 0 auto;
    font-family: 'Unica One';
    text-align: center;
}
.screen p{
    letter-spacing: .6rem;
}
.screen .fa-chevron-up{
    position: absolute;
    left: .5rem;
    top: 2rem;
}
.screen .fa-chevron-down{
    position: absolute;
    right: .5rem;
    top: 2rem;
}
.fa-chevron-up:hover, .fa-chevron-down:hover{
    cursor: pointer;
    color: #FCE64D;
}
#record{
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem;
    margin-left: 2rem;
    border-radius: 50%;
    cursor: pointer;
}
.recording{
    background-color: #ff4848;
    box-shadow: 0 0 20px red;
}
.no-recording{
    background-color:#aa0000;
}
.play{
    padding: .45rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor:pointer;
}
.fa-play{
    pointer-events: none;
    color: #ff4848;
}
.led--off{
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: .6rem;
    width: .6rem;
    background-color: #13171B;
}
.led--on{
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: .6rem;
    width: .6rem;
    background-color: #05eb0d;
    box-shadow: 0 0 5px #05eb0d;
}
.keys{
    padding: 2rem;
    display:grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(2, 10rem);
    column-gap: .5rem;
    row-gap: .5rem;
}
.key{
    position: relative;
    border-radius: 20px;
    box-shadow:  inset 0px 20px 10px -20px rgba(255, 255, 255, 0.5),
                0 5px 5px -5px #000;
    height: 10rem;
    width: 10rem;
    background: #2b2b2d;
    border-bottom: 2px solid #FCE64D;
}
.keys span{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #bfbfbf;
}
.keys kbd{
    position: absolute;
    color: #626264;
    bottom: .5rem;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(-50%, 0);
}
.playing{
    background-color: #FCE64D;
    box-shadow: 0 0 10px #FCE64D;
    border: 3px solid white;
}
